body {
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
}

.mainHeaderContainer {
    background-color: #705AA5;
    height: 116px;
}
.menu {
    margin: 0px 16px;
}
.menuLink {
    color: black;
    text-decoration: none;
}

.menuContainer {
    display: flex;
    justify-content: flex-start;
}

.grammarContainer {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 30px 15px;
    height: 150px;
    width: 150px;
    border: solid 2px #8FA55A;
    border-radius: 15px;
    text-align: center;
 
}

.cardHeader {
    color: #705AA5;
    font-weight: bold;
}

.grammarLevel, .readingLevel {
    color: #705AA5;
    font-size: small;
}

.learnButton, .readButton {
    border-style: none;
    background-color: #705AA5;
    color: white;
    font-weight: 700;
    font-size: 24px;
    display: block;
    margin: auto;
    height: 2.5em;
    width: 95%;
}

.learnButton:hover {
    background-color: #8FA55A;
    color: #705AA5;
    transform: scale(1.2);
    cursor: pointer;
}

.readButton:hover {
    background-color: #8FA55A;
    color: #705AA5;
    transform: scale(1.2);
    cursor: pointer;
}

.learnLink, .readLink {
    width: 80%;
    margin: auto;
}

.blogFlowContainer {
    width: 85%;
    margin: auto;
    background-color: white;
}

.sectionSideBorders {
    border-left: dotted 2px #705AA5;
    padding-left: 1em;
    border-right: dotted 2px #705AA5;
    padding-right: 1em;
}

.sectionBreak {
    width: 75%;
    border-bottom: dotted 2px #705AA5;
    margin: auto;
}

h2 {
    text-align: center;
}

table, th, td {
    border: 1px solid #8FA55A;
}

table {
    width: 80%;
    text-align: center;
    margin: auto;
}

.translationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

#fillInBlankCheck {
    margin-left: 40%;
    margin-top: 1em;
}

.explanationSpan {
    display: block;
    margin-top: 1em;
}

.answerContainer1 {
    display: block;
    margin-top: 1em;
}

.answerContainer2 {
    display: block;
    margin-top: 1em;
}

.answerContainer3 {
    display: block;
    margin-top: 1em;
}

/*Decided to leave as default styling for now*/
/*.checkAnswerButton {
    background-color: #8FA55A;
    color: black;
    border: 1px solid #705AA5;
}*/